/* ----------------------------------------------- */
/* Configurações Básicas */
/* ----------------------------------------------- */

/*Zerando bordas para ter maior domínio sobre os box*/
/*Seleciona cada elemento do html e aplica essas propriedades*/
* {
    margin: 0;
    padding: 0;
    /*Facilita a manipulação da largura e altura dos elementos, 
    pois já inclui a borda nos cálculos*/
    box-sizing: border-box;
}

html {
    /*Define a cor do fundo padrão da página*/
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

.row {
    /*Define a largura máxima da linha*/
    max-width: 1140px;
    /*Define que o container vai ficar centralizado*/
    margin: 0 auto;
}

/*----------------------*/
/*-----CABEÇALHO-------*/
/*----------------------*/

header {
    /*Define uma imagem de fundo*/
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
        url(img/img-hero-header.jpg);
    /*Define a altura do elemento*/
    /*100% da altura do viewport*/
    height: 100vh;
    /*Define o tamanho da imagem de fundo*/
    background-size: cover;
    /*Define a posição da imagem de fundo*/
    background-position: center;
}

h1 {
    margin: 0;
    color: #FFF;
    margin-bottom: 20px;
}

.hero-text-box {
    /*Define a largura*/
    width: 1200px;
    /*Posição absoluta*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 4px;
    letter-spacing: 1px;
}

/*Definição dos botões do header*/

.btn:link,
.btn:visited {
    font-weight: 300px;
    text-decoration: none;
    border: 1px solid #E67E22;
    padding: 10px 30px;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    color: #FFF;
    background-color: #E67E22;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #E67E22;
}

.btn:hover,
.btn:active {
    background-color: #CF6D17;
    border: 1px solid #CF6D17;
    color: #FFF;
}

/*Logo & Menu*/

.logo{
    height: 100px;
    margin-top: 20px;
    float: left;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #E67E22;
}

/*----------------------*/
/*---CARACTERÍSTICAS-----*/
/*----------------------*/
ion-icon {
    font-size: 350%;
    color: #E67E22;
    margin-bottom: 10px;
}

section {
    padding: 80px 0;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2::after{
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #E67E22;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

/*----------------------*/
/*-------GALERIA--------*/
/*----------------------*/

.images-showcase {
    width: 100%;
}

.images-showcase li {
    display: block;
    float: left;
    width: 25%;
    overflow: hidden;
}

.photo img {
    width: 100%;
    /*filter: blur(3px);*/
    /*filter: grayscale(0.3);*/
    /*filter: sepia(0.4);*/
    transform: scale(1.15);
    transition: filter 0.5s, transform 0.5s;
}

.photo img:hover {
    filter: sepia(0.4);
    transform: scale(1.03);
}

.section-photos {
    padding: 0;
}

/* ----------------------------------------------- */
/* Seção Testemunhos (Section Testimonials) */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
        url(../img/2.jpg);
    background-size: cover;
    color: #FFF;
    background-attachment: fixed;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

cite {
    display: block;
    margin-top: 25px;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
}